{% extends 'base.html.twig' %}
{% block body %}



<div class="container text-center">

        <h2>Welcome to the Garden of Earthly Delights</h2>
        <div class="text-justify">
        <p class="text-muted">
            Aliqua commodo incididunt amet aute culpa culpa adipisicing. Laboris et consequat labore ullamco labore
            laborum deserunt ad pariatur. Consequat mollit irure nostrud veniam ea tempor laborum aute. Esse pariatur
            laboris excepteur occaecat laborum aliquip dolor. Voluptate labore anim est ea sint esse ullamco esse non
            velit consequat nostrud qui.Adipisicing aliqua esse officia occaecat. Nulla sit do ipsum magna fugiat ipsum dolor aliquip. Exercitation
            sit reprehenderit reprehenderit est eiusmod anim reprehenderit amet ullamco. Amet mollit aute ex laborum.
        </p>
        <p class="text-muted">
            Aliqua commodo incididunt amet aute culpa culpa adipisicing. Laboris et consequat labore ullamco labore
            laborum deserunt ad pariatur. Consequat mollit irure nostrud veniam ea tempor laborum aute. Esse pariatur
            laboris excepteur occaecat laborum aliquip dolor. Voluptate labore anim est ea sint esse ullamco esse non
            velit consequat nostrud qui.Adipisicing aliqua esse officia occaecat. Nulla sit do ipsum magna fugiat ipsum dolor aliquip. Exercitation
            sit reprehenderit reprehenderit est eiusmod anim reprehenderit amet ullamco. Amet mollit aute ex laborum.
        </p>
        <p class="text-muted">
            Adipisicing aliqua esse officia occaecat. Nulla sit do ipsum magna fugiat ipsum dolor aliquip. Exercitation
            sit reprehenderit reprehenderit est eiusmod anim reprehenderit amet ullamco. Amet mollit aute ex laborum.Adipisicing aliqua esse officia occaecat. Nulla sit do ipsum magna fugiat ipsum dolor aliquip. Exercitation
            sit reprehenderit reprehenderit est eiusmod anim reprehenderit amet ullamco. Amet mollit aute ex laborum.
        </p>
        <p class="text-muted">
            Aliqua nulla et ea reprehenderit deserunt id est magna dolore. Dolor consequat sint duis cillum do esse
            sint. Consectetur non deserunt eu nulla. Consequat veniam non anim commodo esse eiusmod magna cupidatat
            excepteur occaecat ullamco.Aliqua nulla et ea reprehenderit deserunt id est magna dolore. Dolor consequat sint duis cillum do esse
            sint. Consectetur non deserunt eu nulla. Consequat veniam non anim commodo esse eiusmod magna cupidatat
            excepteur occaecat ullamco.
        </p>
        </div>

        <a class="btn btn-action btn-lg" href="{{ path('attractions')}}">See all attractions</a>
        <a class="btn btn-action btn-lg" href="{{ path('booking_new')}}">Book your entries</a>
</div>
{% endblock %}