{% extends 'base.html.twig' %}
{% block body %}



<div class="description-container">
    <h2>Le Jardin des Délices,
    <br>premier parc d’attraction au monde sur le triptyque de Jérome Bosch
    </h2>
    <div class="description-content">
        <div class="description-image">
            <img src={{ asset('assets/images/enfer.jpg') }} />
        </div>
        <div class="description-text">
            <h3>Entrez dans un monde étrange et fou</h3>
            <p>Le Jardin de Délices est la plus célèbre des créations de Jérôme Bosch et l’un des tableaux les plus connus
                    au monde. Nous avons recréé pour vous l’univers énigmatique imaginé par le peintre : au fil de chaque
                    attraction, revivez la création du monde et voyagez de l’enfer au paradis !
            </p>
        </div>
    </div>
</div>
{% endblock %}