
{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <a href="{{ path('booking_new') }}">Create new booking</a>
    <div id="calendar-holder"
    
    ></div>
</div>
{% endblock %}
