{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}


    <div class="container">
    {% if app.session.flashBag.has('erreur') %}
    {% for msg in app.session.flashBag.get('erreur') %}
    <div class="alert-danger">'{{msg}}'</div>
    {% endfor %}
    {% endif %}
        <h1>Passer une réservation</h1>
        <h4>Réservez vos entrées au Parc, à la date que vous souhaitez</h4>
        {{ include('booking/_form.html.twig') }}
    </div>

    

    
{% endblock %}

