@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
body {
	font-family: Helvetica, sans-serif;
}



/* Header */

#head.secondary { height:100px; min-height: 100px; padding-top:0px; }
.logo-custom{
	text-decoration: none;
	font-family:'Redressed', cursive;
	font-size : 30px;
	color:white;
}

a:hover{
	text-decoration: none;
	color:rgb(221, 221, 221);
}
	#head .lead { font-family:'Redressed', cursive, Helvetica, Arial; font-size:80px; margin-bottom:6px; color:white; line-height:1.15em; font-weight: bolder; } 
	#head .tagline { color:rgba(255,255,255,0.75); margin-bottom:25px; font-size: 30px; font-weight: bolder;}
		#head .tagline a { color:#fff; } 
	#head .btn { margin-bottom:10px;}
	#head .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head .btn-default:hover,
		#head .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head .btn-default:active, 
		#head .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head { min-height:420px; padding-top:160px; }
	#head .lead { font-size: 34px; }
}


/* Autohide navbar */
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }


/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:40px; }
	.h-caption { text-align: center; } 
	.h-caption i { display:block; font-size: 54px; color:#382526; margin-bottom:36px; }
	.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:20px; }


/* Typography */
h1, h2, h3, h4, h5, h6 { font-family:"Open sans", Helvetica, Arial; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; margin-bottom:30px; } 

blockquote { font-style: italic; font-family: Georgia; color:#999; margin:30px 0 30px; }
label { color: #777; }
.thin { font-weight:300; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#888; }
.breadcrumb { background:none; padding:0; margin:30px 0 0px 0; }
ul.list-spaces li{ margin-bottom:10px; }

/* Helpers */
.container-full { margin: 0 auto; width: 100%; }
.top-space { margin-top: 60px; }
.top-margin { margin-top:20px; }

img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }
#social { margin-top:50px; margin-bottom:50px; }
	#social .wrapper { width:340px; margin:0 auto; }

/* Main content block */
p { margin-bottom: 30px;}

.attraction-container{
	margin-top:60px;
}
.attraction-image{
	filter:grayscale(5);
	width:auto;
	height:300px;
	border-radius:5px;
}
.attraction-image:hover {
	filter: grayscale(0);
  
}

form * {
	margin-top : 5px;
	margin-right:5px;
}

.flash-message{
	margin-top : 20px;
}
.star-rating {
	line-height:32px;
	font-size:1.25em;
  }
  
.star-rating .fa-star{color: rgb(31, 31, 29);}

/* Sidebars */
.sidebar { padding-top:36px; padding-bottom:30px; }
	.sidebar .widget { margin-bottom:20px; }
	.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 { margin-top:20px; } 

/* Footer */
.footer1 { background: #232323; padding: 30px 0 0 0; font-size: 12px; color: #999; }
	.footer1 a { color: #ccc; }
		.footer1 a:hover {color: #fff; }
	.footer1 .widget { margin-bottom:30px; }		
	.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
	.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
		.footer1 .entry-meta a { color: #333333; }
		.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
	.follow-me-icons { font-size:30px; }		
		.follow-me-icons i { float:left; margin:0 10px 0 0; }		

.footer2 { background: #191919; padding: 15px 0; color: #777; font-size: 12px; }
	.footer2 a { color: #aaa; }
		.footer2 a:hover { color: #fff; }
		.footer2 p { margin: 0; }

	.widget-simplenav { margin-left:-5px; }		
	.widget-simplenav a{ margin:0 5px; }		

div.fc-content {
	background-color: blue;
}

.fc-event{
	background-color: blue;

}


/* CSS NEW ***/


.menu{
	display: flex;
	height: 70px;
	width: 100%;
	background-color: #434343;
	justify-content: center;
	align-items: center;
}

.menuMobile{
	display:flex;
	position: relative;
	cursor: pointer;
	width:100%;
	justify-content: center;
}
.menuMobile > .toggleMenu > img{
	width: 180px;
}
.menuMobile > .toggleMenu >.navMobile{
	position:absolute;
	transform:translateY(-200%);
	display: flex;
	top:0;
	left:0;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	column-gap:20px;
	width: 100%;
	height: 300px;
	background-color: #434343;
	transition: transform 1s linear;
}

.menuMobile > .toggleMenu >.navMobile >.menuItem >a{
	text-decoration: none;
	color: white;
	font-size:25px;
}

.menuMobile > .toggleMenu >.navMobile >.menuItem >a:hover{
	text-decoration: underline;
	
}
.menuMobile >.toggleMenu:hover > .navMobile{
	transform:translateY(0);
}

.nav{
	display: none;
}

.login{
	display: none;
}

.logo{
	display: none;
}

.header > img{
	width: 100%;
}

@media screen and (min-width: 1024px) {
	.menuMobile{
		display: none;
	}
	.menu{
		display: flex;
		padding: 0 40px;
		height: 140px;
		width: 100%;
		background-color: #434343;
		justify-content: space-between;
		align-items: center;
	}

	.menu > .logo {
		display: flex;
	}
	
	.header{
		display: flex;
		width: 100%;
	}
	
	
	
	.nav{
		display: flex;
		column-gap:30px;
	}
	
	.nav >.menuItem >a, .menuItem{
		text-align: center;
		text-decoration: none;
		color: white;
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.login {
		display: flex;
	}
	
	.login >.dropdown {
		display: flex;
		position: relative;
		color: white;
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer;
	}
	
	.login >.dropdown > .dropdown-content{
		display: none;
		flex-direction: column;
		position: absolute;
		z-index:1;
		width: 100%;
		text-align: center;
		padding-top: 10px;
		text-transform: none;
		background-color: #434343;
	}
	
	.login >.dropdown >.dropdown-content >.dropdown-item { 
		text-decoration: none;
		color:white;
		row-gap: 20px;
	}
	
	.login >.dropdown:hover >.dropdown-content { 
		display: flex;
		top:20px;
		left:0;
	}
	
}

.description-container{
	min-height: 960px;
	padding-top: 150px;
}

.description-container > h2{
	padding:0 0 0 200px;
	font-weight: bold;
	font-size: 30px;
}

.description-container >.description-content {
	padding:0 215px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.description-container >.description-container>.description-image >img {
	max-width: 400px
}

.description-container >.description-content>.description-text {
	margin-left:50px;
	width: 650px;
	font-size: 25px;
}

.description-container >.description-content>.description-text >h3 {
	font-weight: bold;
}
