{# templates/booking/calendar.html.twig #}
{% extends '@!EasyAdmin/page/content.html.twig' %}
{% block page_content %}
<div class="container">
    <a href="{{ path('booking_new') }}">Create new booking</a>
    <div 
        id="calendar-holder"
        data-events-url="{{ path('fc_load_events') }}"
    ></div>
</div>
{% endblock %}
